# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.

# Ignore the test directory

/Sources/
/pyLCM/__pycache__/
/build/
/pyLCM.egg-info/

*.exe

/future/
/in_plane_gui/